<!DOCTYPE html>
<html lang="en">
<%- include head.ejs %>

  <body>
    <div class="container">
        <%- JSON.stringify(tickets) %>
        <table class="table">
          <thead>
            
          </thead>
        </table>
    </div>
    <%- include script.ejs %>
  </body>

</html>