{
  "extends": "google",
  "parser": "babel-eslint",
  "rules": {
    // Additional, per-project rules...
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  }
}