{
  "extends": "google",
  "parser": "babel-eslint",
  "rules": {
    "no-unused-vars": "warn",
    "object-curly-spacing": "off",
    "camelcase": "off",
    "max-len": "off",
    "new-cap": "off"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  }
}