{
  "extends": "google",
  "parser": "babel-eslint",
  "rules": {
    "no-unused-vars": "off",
    "object-curly-spacing":"off"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  }
}